<configuration>
	<appSettings>
		<add key="ApplicationName" value="DLMS" />
		<add key="Version" value="1.0.0" />
	</appSettings>

	<connectionStrings>
		<add  name="Connection" connectionString="Server=.\MSSQLSERVER1;Database=DLMS; User=sa;Password=123456;TrustServerCertificate=True;" 
			  providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>